body {
	margin: 0;
	padding: 0;
	color: #00ff0e;
	font-family: "color", sans-serif;
	font-size: 15px;
	line-height: 1.2;
	font-weight: normal;

}

.wrapper{
	color: #000000;
}

.header_logo{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.header_logo{
	margin-left: 27px;
}


.text_menu {
	color: #000000;
	font-size: 40px;
	margin-left: 40px;
	display: flex;
	align-items: flex-end;
}

.header {
	background: #00ff06;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

@media screen and (max-width: 500px) {
.intro{
	display: flex;
	display: grid;
	justify-content: space-between;
	min-height: 100vh;
	min-width: 100vh;
	background: url(./img/phe.png) center no-repeat fixed;
	background-size: cover;
	left: 0;
	top: 0;
}

.pizza_title {
	padding-top:227px;
	font-size: 24px;
	max-width: 357px;
	margin-left: 36px;
	margin-right: 63px;
}

.slider {
	justify-content: space-between;
	display: grid;
	position: absolute;
	margin-left: 547px;
	align-items:center ;
	height: 248px;
	top: 233px;
	width: 305px;
}

.call {
	padding-top: 54px;
}

.call1 {
	padding-top: 34px;
}

.bl {
margin-left: 547px;
}
